<%- include ("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		<%= blog.title %>
	</div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blog.image %>"><br>
			<div class="content">
			<span>
			<!-- 			toDateString method formats date to being readable!	 -->
				<%= blog.created.toDateString() %> 
			</span>
			</div>
			<div class="description">
				<p>
					<%- blog.body %>
				</p>
			</div>
			<a class="ui primary button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<form id="test" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST"> <!-- HERE METHOD OVERRIDE ALSO USED -->
				<button class="ui red basic button">
					Delete
				</button>
			</form>
		</div>
	</div>	
</div>

<%- include ("partials/footer") %>